<div id="table-modal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/50 backdrop-blur-[2px] p-4">
    <div
        class="w-full max-w-[900px] max-h-[85vh] bg-neutral-800 rounded-lg shadow-2xl outline outline-1 outline-offset-[-1px] outline-zinc-800 flex flex-col justify-start items-start overflow-hidden relative">
        <div
            class="self-stretch px-8 py-6 bg-neutral-700/30 border-b border-zinc-800 inline-flex justify-between items-center">
            <div class="w-72 h-8 relative">
                <div
                    class="w-72 h-8 left-0 top-[-1px] absolute justify-center text-zinc-200 text-2xl font-normal font-['Newsreader'] leading-8">
                    Tabel Konsep: Analisis Risiko</div>
            </div>
            <div class="size- p-1 rounded-xs flex justify-center items-center">
                <div class="size- inline-flex flex-col justify-start items-center">
                    <iconify-icon icon="tabler:x" class="text-2xl"></iconify-icon>
                </div>
            </div>
        </div>
        <div class="self-stretch p-8 bg-neutral-900 flex flex-col justify-start items-start overflow-hidden">
            <div class="self-stretch flex flex-col justify-start items-start">
                <div class="self-stretch inline-flex justify-center items-start">
                    <div class="w-52 px-6 py-4 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                        <div
                            class="w-14 h-3 justify-center text-stone-300 text-xs font-semibold font-['Manrope'] uppercase leading-3 tracking-wider">
                            KONSEP</div>
                    </div>
                    <div class="w-96 px-6 py-4 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                        <div
                            class="w-14 h-3 justify-center text-stone-300 text-xs font-semibold font-['Manrope'] uppercase leading-3 tracking-wider">
                            DEFINISI</div>
                    </div>
                    <div class="w-52 px-6 py-4 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                        <div
                            class="w-14 h-3 justify-center text-stone-300 text-xs font-semibold font-['Manrope'] uppercase leading-3 tracking-wider">
                            CONTOH</div>
                    </div>
                </div>
                <div class="self-stretch flex flex-col justify-start items-start">
                    <div class="self-stretch inline-flex justify-center items-start">
                        <div
                            class="w-52 px-6 pt-4 pb-16 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="size- px-2 py-px bg-orange-300/10 rounded-xs outline outline-1 outline-offset-[-1px] outline-orange-300/20 inline-flex justify-start items-start">
                                <div
                                    class="w-24 h-6 justify-center text-orange-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                    Risiko Sistemik</div>
                            </div>
                        </div>
                        <div
                            class="w-96 px-6 py-5 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-80 h-16 justify-center text-zinc-200/80 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Kemungkinan terjadinya kegagalan pada seluruh<br />sistem atau pasar, bukan hanya pada
                                satu entitas<br />atau komponen individual yang terisolasi.</div>
                        </div>
                        <div
                            class="w-52 px-6 pt-5 pb-11 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-40 h-12 justify-center text-stone-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Krisis keuangan global<br />2008</div>
                        </div>
                    </div>
                    <div class="self-stretch inline-flex justify-center items-start">
                        <div
                            class="w-52 px-6 pt-4 pb-16 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="size- px-2 py-px bg-orange-300/10 rounded-xs outline outline-1 outline-offset-[-1px] outline-orange-300/20 inline-flex justify-start items-start">
                                <div
                                    class="w-14 h-6 justify-center text-orange-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                    Mitigasi</div>
                            </div>
                        </div>
                        <div
                            class="w-96 px-6 py-5 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-96 h-16 justify-center text-zinc-200/80 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Serangkaian tindakan atau strategi terencana yang<br />dirancang untuk mengurangi dampak
                                negatif atau<br />probabilitas terjadinya suatu peristiwa merugikan.</div>
                        </div>
                        <div
                            class="w-52 px-6 pt-5 pb-16 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-40 h-6 justify-center text-stone-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Diversifikasi portofolio</div>
                        </div>
                    </div>
                    <div class="self-stretch inline-flex justify-center items-start">
                        <div
                            class="w-52 px-6 pt-4 pb-16 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="size- px-2 py-px bg-orange-300/10 rounded-xs outline outline-1 outline-offset-[-1px] outline-orange-300/20 inline-flex justify-start items-start">
                                <div
                                    class="w-24 h-6 justify-center text-orange-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                    Aset Berwujud</div>
                            </div>
                        </div>
                        <div
                            class="w-96 px-6 py-5 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-96 h-16 justify-center text-zinc-200/80 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Properti fisik atau benda material yang memiliki nilai<br />ekonomi dan dapat diukur
                                secara langsung dalam<br />analisis kuantitatif.</div>
                        </div>
                        <div
                            class="w-52 px-6 pt-5 pb-11 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-32 h-12 justify-center text-stone-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Real estate, emas<br />batangan</div>
                        </div>
                    </div>
                    <div class="self-stretch inline-flex justify-center items-start">
                        <div
                            class="w-52 px-6 pt-4 pb-16 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="size- px-2 py-px bg-orange-300/10 rounded-xs outline outline-1 outline-offset-[-1px] outline-orange-300/20 inline-flex justify-start items-start">
                                <div
                                    class="w-16 h-6 justify-center text-orange-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                    Volatilitas</div>
                            </div>
                        </div>
                        <div
                            class="w-96 px-6 py-5 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-96 h-16 justify-center text-zinc-200/80 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Ukuran statistik fluktuasi harga atau nilai dari suatu<br />instrumen keuangan selama
                                periode waktu tertentu;<br />indikator ketidakpastian.</div>
                        </div>
                        <div
                            class="w-52 px-6 pt-5 pb-11 border-b border-zinc-800 inline-flex flex-col justify-start items-start">
                            <div
                                class="w-32 h-12 justify-center text-stone-300 text-sm font-normal font-['Space_Grotesk'] leading-6 tracking-tight">
                                Pergerakan harga<br />mata uang kripto</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="self-stretch px-8 py-5 bg-neutral-800 border-t border-zinc-800 inline-flex justify-end items-center gap-4">
            <div class="w-44 h-12 relative rounded-xs outline outline-1 outline-offset-[-1px] outline-zinc-800">
                <div class="size- left-[25px] top-[19.30px] absolute inline-flex flex-col justify-start items-center">
                    <iconify-icon icon="tabler:code" class="text-xl text-orange-300"></iconify-icon>
                </div>
                <div
                    class="w-28 h-6 left-[51px] top-[10px] absolute text-center justify-center text-orange-300 text-base font-normal font-['Manrope'] leading-6">
                    Salin HTML</div>
            </div>
            <button type="button" id="btn-close-table-modal"
                class="px-8 py-2.5 bg-orange-300 hover:bg-orange-400 transition rounded-xs shadow-[0px_0px_15px_0px_rgba(255,200,128,0.15)] flex justify-center items-center cursor-pointer">
                <div
                    class="text-center justify-center text-yellow-950 text-base font-semibold font-['Manrope'] leading-6">
                    Tutup</div>
            </button>
        </div>
    </div>
</div>